@tailwind base;
@tailwind components;

#loader{
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 10;
}